# Databaze

Databaze sluze za pohranu podataka u nekom formatu, te jednostavan pristup

MySQL i ostale SQL baze koriste relacijsko povezane podatke

Ovdje mozes pogledati malo vise o konceptu Entity Relationship vezama, idealno bi bilo da procitas sve od ER Diagrams pa nadolje (20ak stranica), ali ove su neke bitne TL;DR sekcije


https://www.relationaldbdesign.com/database-design/module1/intro-relational-database-design.php
 - [ER Diagrams](https://www.relationaldbdesign.com/database-design/module6/intro-entityRelationship-diagrams.php)
 - [Asocijacije entiteta](https://www.relationaldbdesign.com/database-design/module6/entity-relationship-concept.php)
 - [Tipovi veza](https://www.relationaldbdesign.com/database-design/module6/three-relationship-types.php)
 - [One to One](https://www.relationaldbdesign.com/database-design/module6/identify-oneToOne-relationships.php)
 - [One to Many](https://www.relationaldbdesign.com/database-design/module6/one-to-manyRelationships.php)

Podatci mogu biti povezani na razne nacine, to su:
 - one to one - 1:1 (Jedna osoba ima tocno jedan OIB, jedan OIB ima tocno jednu osobu)
 - one to many - 1:N (Jedna osoba može imati puno auta, auto pripada samo jednoj osobi)
 - many to many - N:N (Jedan autobus ima puno putnika, jedan putnik vozi puno autobusa)
 - self referencing (Jedna osoba ima jednog voditelja (osobu), jedan voditelj ima više članova tima (osobe))

Note: self referencing moze bit one to one ili one to many ovisno o tome kako definiramo tu vezu. Primjer naveden gore je one to many.


Programski jezici koriste objektno orijentirane podatke, te im pristupamo kroz atribute

## Primjer objektno orijentiranih podataka

Imamo objekt knjiznica s vezom one to many na objekt knjige

Dodajemo nove knjige u knjiznicu

Pristupamo knjigama koje pripadaju nekoj knjiznici

In [61]:
# Definicija Knjiznice
class Library:
    def __init__(self, id, name, location):
        self.id = id
        self.name = name
        self.location = location
        self.books = []

# Definicija Knjige        
class Book:
    def __init__(self, id, name, year):
        self.id = id
        self.name = name
        self.year = year
    def __repr__(self): # pomocna funkcija koja nam pomogne u printanju objekta 
        return "("+str(self.id)+", "+self.name+", "+str(self.year)+")"

# Kreiramo novi podatak - knjiznica
library = Library(1, "Alexandria", "Egypt")

# Dodajemo knjige kao pripadnike knjiznice
library.books.append( Book(1, "Harry Potter", 1997) )
library.books.append( Book(2, "The Hobbit", 1937) )

# Pristupamo podatcima
print(library.books)

[(1, Harry Potter, 1997), (2, The Hobbit, 1937)]

# Primjer relacijsko povezanih podataka

Ukoliko zelimo povezati nesto u relacijskoj bazi podataka to nemozemo vezati direktno na objekt
Vec trebamo kreirati vanjski kljuc na objektu koji ce referencirati vezu

Pravila su sljedeca: 
 - Svaka tablica mora imati stupac ID
 - To znaci da svaki redak u tablici ima unikatnu ID vrijednost (primary key)
 - Imamo foreign key u tablici knjiga 
 - Ako u foreign key zapisemo postojeci ID iz tablice knjiznica imamo vezu izmedu ta dva objekta

Tako u ovom slucaju imamo sljedecu schemu
```
+--------------------+           +-------------------+
|        KNJIGA      |           |    KNJIZNICA      |
|====================|           |===================|
|  ID        |int    |   +------>|  ID      | int    |
| name       |varchar|   |       | name     | varchar|
| year       |int    |   |       | location | varchar|
| library_id |int    |---+       +-------------------+
+--------------------+           
```

In [62]:
# SQLite je 'portabl' SQL, malo je opusteniji no uglavnom je ista funkcionalnost i koncepti su primjenjivi na oboje
# https://www.geeksforgeeks.org/differences-between-sql-and-sqlite/
import sqlite3
conn = sqlite3.connect(':memory:') 

# Definicija Knjiznice
conn.execute("CREATE TABLE Library(id, name, location)")

# Definicija Knjige - postavljamo vanjski kljuc koji referencira Knjiznicu
conn.execute("CREATE TABLE Book(id, name, year, library_id)")

# Kreiramo novi podatak - knjiznica
conn.execute("INSERT INTO Library(id, name, location) VALUES(1, 'Alexandria', 'Egypt')")

# Dodajemo knjige kao pripadnike knjiznice
conn.execute("INSERT INTO Book(id, name, year, library_id) VALUES(1, 'Harry Potter', 1997, 1)")
conn.execute("INSERT INTO Book(id, name, year, library_id) VALUES(2, 'The Hobbit'  , 1937, 1)")

# Pristupamo podatcima
print(conn.execute("SELECT * FROM Book WHERE library_id = 1").fetchall())

[(1, 'Harry Potter', 1997, 1), (2, 'The Hobbit', 1937, 1)]

### Pogledaj si ovu odlicnu prezu s FERa o relacijsko vs objektno orijentiranim podatcima
https://www.fer.unizg.hr/_download/repository/3._OOBP_i_ORBP.pdf

## Foreign keys
Foreign key constraint je dobro meta pravilo 
 - jer tako se baza pripremi na tu vezu 
 - ubrza pristupanje tim podatcima
 - pri kreiranju podataka validira da li je veza moguca 

Bitno je znati da veze mogu postojati i bez ovog meta pravila (constraint-a)

https://www.cockroachlabs.com/blog/what-is-a-foreign-key/

https://www.w3schools.com/sql/sql_foreignkey.asp

## Kreiranje baze za nas dataset (auti.csv)

In [8]:
import pandas as pd

autiDF = pd.read_csv('../datasources/auti.csv')

autiDF['title'] = autiDF['title'].str.strip() # remove '\r' & '\n' characters

display(autiDF.head())

   Unnamed: 0                          title   price             url
0           0      Mercedes-Benz E-klasa 320  5.800   www.google.com
1           1         Renault Laguna 1.9 dci  1.450   www.google.com
2           2  Alfa Romeo 159 1.9 JTDM 110KW  3.600   www.google.com
3           3      VW Golf V Variant 1.9 tdi  4.500   www.google.com
4           4            Fiat Bravo 1.2 16 v    230   www.google.com

In [29]:
# Python sqlite dokumentacija
# https://www.tutorialspoint.com/sqlite/sqlite_python.htm
import sqlite3

conn = sqlite3.connect(':memory:')
print("Opened database successfully");

# MySQL syntaxa - https://www.w3schools.com/sql/sql_syntax.asp
# Kreiramo tablicu 'auti' u bazi s poljima id, title, price i url
conn.execute(
"""
CREATE TABLE auti(
    id             INTEGER PRIMARY KEY AUTOINCREMENT   NOT NULL ,
    title          VARCHAR(100)      NOT NULL,
    price          REAL              NOT NULL,
    url            VARCHAR(5000)
);
""")

# Za svaki auto u dataframeu - insertajmo ga u nasu tablicu
for index, item in autiDF.iterrows():
    title = item['title']
    price = item['price']
    url   = item['url'  ]
    
    # Kreiramo SQL insert query 
    sql = "INSERT INTO auti(title, price, url) VALUES ('{}', '{}', '{}');".format(title, price, url)
    
    # executamo query i insertamo redak u tablicu
    conn.execute(sql)
    
# Printamo zadnji SQL query da vidimo kako izgleda
print(sql)

# cursor = conn.execute("SELECT id,title,price,url from auti")
# for row in cursor:
#    print("ID = ", row[0])
#    print("NAME = ", row[1])
    
conn.close()

# https://www.apachefriends.org/
# MariaDB & phpMyAdmin

Opened database successfully
INSERT INTO auti(title, price, url) VALUES ('Peugeot 407 2.0 hdi', '3.000 ', 'www.google.com');
ID =  1
NAME =  Mercedes-Benz E-klasa 320
ID =  2
NAME =  Renault Laguna 1.9 dci
ID =  3
NAME =  Alfa Romeo 159 1.9 JTDM 110KW
ID =  4
NAME =  VW Golf V Variant 1.9 tdi
ID =  5
NAME =  Fiat Bravo 1.2 16 v
ID =  6
NAME =  Citroen C3 1.4 i, SX PACK, 1VL., SERVISIRAN, ODLIČAN, KAO NOV
ID =  7
NAME =  Renault Clio
ID =  8
NAME =  BMW 530XD LCI  INDIVIDUAL M PAKET-SOFTCLOSE VRATA-ZAVJESE NA STRUJU-ADAPTIVE FAROVI-XENON-LED-AMBILIGHT-HI FI-PROFI NAVI-HARD DISC-BLUETOOTH-AUTOMATIC-3KLJUČA**RIJEDAK PRIMJERAK**
ID =  9
NAME =  Opel Vectra 1.6
ID =  10
NAME =  Renault Grand Scenic 1,5 dCi 7 Sjedala,navigacija,senzori,Keyless go,alu20,senzor napuštanja prometne trake,umora,ograničenja brzine,digitalni sat,tempomat,mf.volan
ID =  11
NAME =  VW Polo 1.4 TDI
ID =  12
NAME =  Renault Megane Coupe 1.5 dci 97.000km
ID =  13
NAME =  Opel Corsa Opel corsa 1.4
ID =  14
NAME =  Honda Accord 2.4 Executive Automatic
ID =  15
NAME =  Ford Mondeo 1,5 TDCi 120ks Euro6,Navigacija,park senzori prednji+zadnji,gijanje sjedala,grijanje prednje šajbe,mf.volan,tempomat,limitator
ID =  16
NAME =  Opel Astra 1.7D
ID =  17
NAME =  Mazda 3 2.2 Skyactive 2015. godina
ID =  18
NAME =  Peugeot 208 GTi
ID =  19
NAME =  Škoda Octavia 1.9tdi
ID =  20
NAME =  Fiat Cinquecento 0.9
ID =  21
NAME =  Opel Astra 1.4  AUT.KLIMA HR AUTO ISPIS KM 2KLJUCA
ID =  22
NAME =  Jeep Willys 1972.g., ..mercedes 220 motor...ODLIČAN
ID =  23
NAME =  Mazda 6 2.2 SKYACTIV XENON BI XENON 2 KLJUCA MULTIMEDIA ALU 18 LED DNEVNA SVJETLA
ID =  24
NAME =  Toyota Yaris 1.5 VVTI. KLIMA MULTIMEDIA 2020G MODEL 2021 45 000KM HR VOZILO
ID =  25
NAME =  Fiat Marea 1.6 16V
ID =  26
NAME =  Renault Clio 1.4 16V HR VOZILO REG.GODINU DANA KLIMA PUTNO RACUNALO VLASNIK!!!
ID =  27
NAME =  Citroen C5 2.0HDI
ID =  28
NAME =  Audi A3 Sedan Sport 30 TFSI Limuzina (Limousine)
ID =  29
NAME =  VW Jetta 1.9 TDI
ID =  30
NAME =  BMW 320d automatik
ID =  31
NAME =  OPEL CORSA  BENZINAC / 2003. / HRVATSKI AUTO
ID =  32
NAME =  Mazda 3 2.0 GT komplet ili dijelovi
ID =  33
NAME =  Hyundai Getz 1.1 - REG 01/2024 - 1 VLASNIK - nije uvoz
ID =  34
NAME =  VW Golf VI 2.0TDI 2011 180,000km
ID =  35
NAME =  Peugeot 407 2.0HDI 2008
ID =  36
NAME =  VW Transporter 2.5 TDI
ID =  37
NAME =  Je.bi me :)
ID =  38
NAME =  Peugeot 207 1.4
ID =  39
NAME =  Mercedes-Benz C 240 Kompressor Elegance Automatic..2001g
ID =  40
NAME =  VW Passat Variant 2.0 TDI 2017god, led
ID =  41
NAME =  VW Golf VII 1.6 TDI BLUEMOTION
ID =  42
NAME =  VW Golf IV 1.9TDI 81W 2001  KM:230,000
ID =  43
NAME =  Opel Astra 1.2 puretech 96kw..automatik
ID =  44
NAME =  Audi 80 AUDI 80 1.8 E KLIMA, staklo struja ,centalno OLD TIMER
ID =  45
NAME =  VW Golf VI 1.6 TDI
ID =  46
NAME =  Mercedes-Benz E-klasa 320 CDI
ID =  47
NAME =  VW Passat Variant 1.6 TDI
ID =  48
NAME =  Audi A4 B7
ID =  49
NAME =  Mercedes-Benz E-klasa 270CDI. ELEGANCE
ID =  50
NAME =  Mercedes-Benz B-klasa-2017 GOD
ID =  51
NAME =  Land Rover Discovery Land Rover Discovery I 2,5 TDI
ID =  52
NAME =  Renault Megane 15 dci
ID =  53
NAME =  VW Touran 1,9 tdi
ID =  54
NAME =  Peugeot 5008 1.6 Blue Hdi Sport 2018g AUTOMATIC+ F1 *ODLICNO STANJE* SERVISNA* 7 SJEDALA* KOZA* NAVIGACIJA* RADAR * VIRTUAL COCKPIT* AMBIENT LIGHT* ALU 18* REG GOD DANA 5/2024* CIJENA 20.900€!
ID =  55
NAME =  RENAULT THALIA 1.5DCI //185tkm//prvi vlasnik//kupljen u HR//klima//
ID =  56
NAME =  Mazda 3 2,2 CD 150 REVOLUTION TOP SKYACTIV
ID =  57
NAME =  Fiat Brava
ID =  58
NAME =  Peugeot 308 SW 2.0 Allure BlueHDi 150
ID =  59
NAME =  Fiat Stilo
ID =  60
NAME =  VW Passat 1.6 TDI Reg:3/24,Navigacija,park senzori prednji+zadnji+bočni,park pilot,mf.volan,tempomat,putno,chrom,alu,automatsko paljenje svjetala
ID =  61
NAME =  Smart forfour 1.0 Passion
ID =  62
NAME =  Mercedes-Benz E-klasa 220 cdi bluetec 9g tronic 2015g
ID =  63
NAME =  VW Polo 1.4 TDI
ID =  64
NAME =  Opel Astra 1.4 Prilika, Noviji model
ID =  65
NAME =  Audi A4 Avant 2.0 TDI 110kw/150ks Reg:4/24,Virtual sat,KeylessGO,velika navigacija i klima,crno nebo,el.gepek,LED,el.sklapanje retrovizora,Bi-xenon
ID =  66
NAME =  Fiat 500 0.9 twin turbo sport cabrio reg.godinu dana ko nov moguca zamjena
ID =  67
NAME =  Opel Corsa 1.2 benzin, samo 58ooo ticuca kilometara
ID =  68
NAME =  VW Vento 1.9 d
ID =  69
NAME =  VW Golf 7.5 1.6 TDI 85kw Euro6,Kupljen novi u HR,Samo 96 000km,park senzori,Klima-automatska-dvojna,alu..
ID =  70
NAME =  Je.bi me :)
ID =  71
NAME =  Škoda Fabia Sedan 1.4
ID =  72
NAME =  Škoda Octavia 1,6 TDI Elegance DSG
ID =  73
NAME =  Seat Toledo 1,9 TDI 2005 REG 5/24 KLIMA RATE ZAMJENA
ID =  74
NAME =  Kia Rio 1.2 LX Champion
ID =  75
NAME =  Škoda Fabia 1.9 TDI VRS
ID =  76
NAME =  Alfa Romeo 159 SW 1.9 jtdM
ID =  77
NAME =  ●600€● Opel Astra G 1.6 16v - registriran do 10/2023
ID =  78
NAME =  Opel Corsa 1,7 cdti 2006 redizajn sport
ID =  79
NAME =  Renault Twingo 1.2, GODINA PR. 2006, REG. GOD DANA, klima, servo ....
ID =  80
NAME =  Citroen C4 Picasso 1.6HDI Automatic, novo kvačilo
ID =  81
NAME =  Mercedes-Benz C-klasa 2.2 180 CDI BLUEEFFICIENCY
ID =  82
NAME =  Peugeot 307 SW 2,0 BENZIN PANORAMA 2003 REG 7 / 23 RATE ZAMJENA
ID =  83
NAME =  VW Up! 1.0 TSI 44kw Bluemotion
ID =  84
NAME =  Je.bi me :)
ID =  85
NAME =  Peugeot 308 SW SW 1,6 HDI PANORAMA
ID =  86
NAME =  Opel Astra 1,4 16v
ID =  87
NAME =  Škoda Roomster 1.6 TDI SCOUT CR—2013.GOD.—
ID =  88
NAME =  Opel Astra Karavan 1,6 16V MODEL 1999 PLIN
ID =  89
NAME =  MINI Cooper
ID =  90
NAME =  Mercedes-Benz A-klasa 170 CDI
ID =  91
NAME =  BMW X1 2.0 sDrive 18D—PROMIJENJEN LANAC I SET KVAČILA—100kW
ID =  92
NAME =  Peugeot 4008 1.6 HDI 84 KW  4WD
ID =  93
NAME =  Opel Astra Karavan 1,7 CDTI 2006 189000 KM RATA VEĆ OD 450,00 KN/MJ
ID =  94
NAME =  Mercedes-Benz ML 270 cdi
ID =  95
NAME =  Mazda 6 Sport Combi 2.2 CD175*Kamera*Navi*BiXenon*Keyless*Bose*Izvrsna*Ne plaća se prijenos
ID =  96
NAME =  BMW serija 3 320 d
ID =  97
NAME =  Chevrolet Aveo 1.2 Sonc God:2007/08 Reg do:13.01.2024g 139.oookm Potvrda s Stp-a Kupljen u AutoWill Hr!! Od 1. Vlasnice. Klima Uređaj i Ostala Oprema!! Servisna Knjiga Svaki Redovni Servis Napravljen Servisna Knjiga + Računi !! Auto kao na Slikama Garažir
ID =  98
NAME =  Opel Corsa 1.3CDTI
ID =  99
NAME =  BMW serija 5 E34 525I
ID =  100
NAME =  Peugeot 407 2.0 hdi